# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Data folder (ignore actual data files, but track DVC metafiles)
data/
!data/**/*.dvc
!.dvc
# DVC cache (ignore the heavy cache folder)
.dvc/cache/

# Track DVC folder itself
!.dvc/
vector_store/
/vector_store
